.container {
  background-color: #0a0b0d !important;
  padding: 1rem 1.5rem !important;
  border-bottom: 1px solid #282b2f !important;
}
.title {
  font-size: 2rem !important;
  font-weight: 600 !important;
}
.walletConnectButton,.walletConnectBuySellButton {
  border: 1px solid #282b2f !important;
  padding: 0.8rem !important;
  font-size: 1.3rem !important;
  font-weight: 500 !important;
  border-radius: 0.4rem !important;
  margin-right: 1rem !important;
}
.walletConnectButton:hover,.walletConnectBuySellButton:hover {
  cursor: pointer;
}
.walletConnectBuySellButton{
    color: black;
}
.walletLink {
  font-size: 0.8rem !important;
  border: 1px solid #282b2f !important;
  border-radius: 50rem !important;
  font-size: 1.2rem !important;
  margin-right: 1rem !important;
  padding: 0 1rem !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.walletAddressTitle {
  font-size: 1.1rem !important;
  margin-bottom: 0.3rem !important;
  color: #27ad75 !important;
  font-weight: 600 !important;
}
.walletAddress{
    font-size: 0.8rem !important;
}