.container {
  height: calc(100vh);
  border-right: 1px solid #282b2f;
  width: calc(22rem - 16px - 16px);
  /* TRouBLe */
  padding: 0 1rem;
}
.logoContainer {
  margin: 1.5rem 0;
}
.logo {
  width: 44%;
  object-fit: contain;
  margin-left: 1.5rem;
}
.navItemsContainer {
  margin-top: 3rem;
}
.navItemsContainer:hover {
  cursor: pointer;
}
.navItem {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 500;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  height: 4rem;
}
.navItem:hover {
  background-color: #141519;
}
.navIcon {
  background-color: #141519;
  padding: 0.7rem;
  border-radius: 50%;
  margin: 0 1rem;
  display: grid;
  place-items: center;
}
