.container {
  background-color: #0a0b0d;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #282b2f;
}
.title {
  font-size: 2rem;
  font-weight: 600;
}
.walletConnectButton {
  border: 1px solid #282b2f;
  padding: 0.8rem;
  font-size: 1.3rem;
  font-weight: 500;
  border-radius: 0.4rem;
  margin-right: 1rem;
}
.walletConnectButton:hover {
  cursor: pointer;
}
.walletLink {
  font-size: 0.8rem;
  border: 1px solid #282b2f;
  border-radius: 50rem;
  font-size: 1.2rem;
  margin-right: 1rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.walletAddressTitle {
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
  color: #27ad75;
  font-weight: 600;
}
.walletAddress{
    font-size: 0.8rem;
}