.container{
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #0a0b0d;
  color: white;
}
.main{
    display: flex;
  max-height: calc(100vh - 64px);
  /* overflow: scroll; */
}
.main div {
  border-radius: 0.4rem;
}
.mainContainer{
    flex: 1;
}
.walletConnet{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.details{
  font-size: 1.2rem;
  text-align: center;
  margin-top: 1rem;
  font-weight: 500;
  color: #282b2f;
}